
.new-user-modal {
    display:flex;
    justify-content: center;
    align-items: center;

}

.modal-container {
    /* border: 3px salmon solid; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-container__title {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 1rem 0;;

}

.modal-container__body {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: .5rem
}


.modal-container__btn {
    /* border: 2px solid olive; */
}

.remove-placeholder::placeholder {
    color: red;
    transform: translateX(10rem);
    opacity: 0;
    pointer-events: none;
}

/* Inputs */
.job__input,
.address__input,
.city__input,
.code__input,
.email__input,
.owner__input,
.tel__input {
    font-size: 1.5rem;
    outline: none;
    border: none;
}

/* Placeholders */
.job__input::placeholder,
.address__input::placeholder,
.city__input::placeholder,
.code__input::placeholder,
.email__input::placeholder,
.owner__input::placeholder,
.tel__input::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 3s ease;
    /* font-style: italic; */
    padding: .5rem;
    font-size: 1rem;
}

.new-user-code {
    display: flex;
    position: relative;

}

.code__input {
    /* width: 80%;; */
}

.eyes-icon {
    transform: translateX(2rem);
    align-self: center;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    background-color: white;
    cursor: pointer;
    padding: 0 0.4rem;
    pointer-events: none;
    opacity: 0;

}

.show-eyes {
    transform: translateX(0rem);
    opacity: 1;
    pointer-events: all;
}



/* @ Button */
.new-user-reg {
    display: flex;
    /* justify-content: center; */
}

.new-user-reg__btn {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: cadetblue;
    padding: .3rem 1rem;
    cursor: pointer;
}

.new-user-reg__btn:active {
    transform: scale(0.98);
}