*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://picsum.photos/1500/900");
  /* background-image: url("https://fastly.picsum.photos/id/93/800/800.jpg?hmac=H6VASMmFssnKDZ4SVLCmG3wZZUTmpdOZ8sjWRjGyIeo"); */
  /* background-image: url("https://fastly.picsum.photos/id/448/1500/900.jpg?hmac=3ZFxsbbHO5qufNaZUHCUaT0j_-saEs8zBi3BfUbLNC4"); */
  background-image: url("https://fastly.picsum.photos/id/1001/1500/900.jpg?hmac=jsRA3nig97Yv0agVvWcBO1hQhim74uuquK2HcqpUPtc");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  width: 25rem;
  height: 80vh;
  /* width: 31rem; */
  backdrop-filter: blur(10px) grayscale(30%)
  /* invert(70%); */
}

/*! Logo */
.container--logo {
  margin: 1rem 0rem;
}

.logo {
  font-size: 3rem;
  color: red;
}

.logo:hover {
  cursor: pointer;
}

/*! Body of Container */
.body-container {
    transition: all 0.5s ease;
    opacity: 1;
    pointer-events: all;
    width: 15rem;
    height: 70%;
  }

/*! Container Input */
.container--input__username,
.container--input__code {
  display: flex;
  align-items: center;
}

.input-username,
.input-code {
  transition: all 0.3s ease-in;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
}

.input-username::placeholder,
.input-code::placeholder {
  color: transparent;
}

.input-username:not(:placeholder-shown),
.input-code:not(:placeholder-shown) {
  transform: translateX(1.2rem);
}

.input-username:focus,
.input-code:focus {
  outline: none;
  transform: translateX(1.2rem);
}

/*! Container Output */
.container--output {
  margin: 2rem 0;
  display: flex;
  gap: 0.5rem;
}

/*! Container Output Icons */
.container--output__icon {
  display: flex;
  align-items: center;
}

.user-icon,
.lock-icon {
  margin: 0 0.2rem;
  position: absolute;
  font-weight: 300;
}

.closed-door,
.opened-door {
  font-size: 2rem;
}

.closed-door {
  cursor: pointer;
}

.opened-door {
  position: absolute;
  transform: translateX(-5rem);
  opacity: 0;
  transition: all 0.7s ease;
}

/*! Container Output Message */
.container--output__msg {
  display: flex;
  gap: 0.2rem;
  align-items: start;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

}

.output__msg {
  transform: translateY(3rem);
  transition: all 0.3s ease-in;
  opacity: 0;
}

.output__owner {
  transform: translateX(4rem);
  transition: all 0.6s ease-in;
  opacity: 0;

}

/*+ Login Container*/
.container--login {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    transition: all 0.5s ease;

}

.container--login > * {
    /* border: 1px red solid; */

}

/*+ New User & Login*/
.container--login__new-user,
.container--login-via {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container--login__new-user {
    transition: all .4s ease-in;
}

.container--login__new-user:hover {
    background-color: bisque;
}

.container--login__new-user:hover .new-user:active {
    color: #1c5aa5;
    font-weight: 500;
    transform: scale(.95);
}

.new-user-icon {
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
}

.container--login-via__brands {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

.brands {
    transition: all 0.3s ease;
}

.f:hover {
    color: #1877f2;
}

.in:hover {
    color: #0a66c2;
}

.alt:hover {
    color: #2b3137;
}

.brands:hover {
    transform: translateY(-0.3rem);
}

/*_ Footer Container*/
.container--footer {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin-top: 5rem;
}

/*_ Details Container*/
.body-container__details {
    
}

/* @ custom classes */
.green {
    color: green;
  }

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-8rem);
  transform: translateX(-8rem);
}

.not-empty {
  color: rgb(33, 33, 3);
  transition: all 0.3s ease-in;
  font-weight: bold;
}

.remove-closed-door {
  transform: translateX(-10rem);
  opacity: 0;
  transition: all 0.3s ease;
}

.animate {
  animation: shaking 0.5s ease 0s 1 normal forwards;
  font-size: 2rem;
  color: red;
}

@keyframes shaking {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

.hide-door {
  transform: translateX(-5rem);
  opacity: 0;
  transition: all 0.4s ease;
}

.show-door {
  position: absolute;
  transform: translateX(0rem);
  opacity: 1;
  transition: all 1s ease;
}

.welcome-show {
  transform: translateY(0rem);
  opacity: 1;
  transition: all 0.3s ease-in;
}

.owner-show {
  transform: translateX(0rem);
  transition: all 0.7s ease-in;
  opacity: 1;
  font-size: 1.1rem;
  font-weight: 600;

}

.hide-login-container {
    transform: translateY(15rem);
    opacity: 0;
    pointer-events: none;
    display: none;
    transition-behavior: allow-discrete;
}

.hide-footer-container {
    transform: translateY(10rem);
    opacity: 0;
    pointer-events: none;
    display: none;
    transition: all 0.4s ease;
    transition-behavior: allow-discrete;
}

.margin0 {
    margin: 0;
    transition: all .4s ease;
}

.hide {
    /* display: none; */
    opacity: 0;
    transition: all .6s ease;
    transition-behavior: allow-discrete;
}

.show-details {
    transition-behavior: allow-discrete;
    opacity: 1;
    transition: all .6s ease;
}

/* modal */
.new-user-modal {
  background-color: aqua;
  background-color: #F9F6EE;
  background-color: bisque;
  border: 1px solid rgb(5, 22, 31);
  height: 30rem;
  width: 30rem;;
  position: absolute;
  z-index: 5;
  transition: all 0.4s ease;
}


.hide-modal {
  /* z-index: -1;
  opacity:0; */
}

.overlay {
  background-color: #071e3579;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  transition: all 2s ease;
}

.hide-overlay {
  opacity: 0;
  z-index: -1;
}