*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    padding: 2rem;
}

.logo {
    font-size: 3rem;
    color: red;
}

.logo:hover {
    cursor: pointer;
}

.container--logo {
    /* background-color: antiquewhite; */
}

.container--input__username {
    background-color: rgb(178, 54, 54);
}